
<h3 class="indented"> Labview </h3>
<p class="indented"> &nbsp; HH 305 &nbsp;&nbsp;&nbsp; <%= Time.now.strftime("%-m/%e/%Y") %> 
    &nbsp;&nbsp;&nbsp; <%= Time.now.strftime("%l:%M %p") %></p>

<style>
  .indented {
    padding-left: 40px; /* adjust the value as needed */
  }
</style>

<!--Tabular view all -->

<style>
  .cell {
    border: 1px solid black;
  }
</style>

<style>
  .cell-up {
    background-color: green;
    border: 1px solid black;
  }
  .cell-down {
    background-color: red;
    border: 1px solid black;
  }
</style>

<% columns = 6 %>
<% col = 1 %>

<table>
  <% @entries.each do |entry| %>
    <% if col == 1 %>
      <tr>
    <% end %>
      <% cell_class = entry.status == 'down' ? 'cell-down' : 'cell-up' %>
      <td class="<%= cell_class %>"><%= entry.hostname %></td>
      <% col += 1 %>
    <% if col == columns + 1 %>
      </tr>
      <% col = 1 %>
    <% end %>
  <% end %>
</table>

<%= link_to "Add New Entry", new_entry_path%>
<%= link_to "Manage Computers", entries_path %>
